<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="grid.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>Grid Component</title>
</head>

<body>
    <!-- grid 2 item -->
    <div class="grid-container flex-spbt">
        <div class="row">
            Row-1 Column-1
        </div>
        <div class="row">
            Row-2 Column-1
        </div>
    </div>
    <!-- grid 2 item Column -->
    <div class="grid-container-col flex-spbt">
        <div class="column">Row-1 Column-1</div>
        <div class="column">Row-1 Column-2</div>
    </div>

    <!-- grid 3 item -->
    <div class="grid-container flex-spbt">
        <div class="row">
            Row-1 Column-1
        </div>
        <div class="row">
            Row-2 Column-1
        </div>
        <div class="row">
            Row-3 Column-1
        </div>
    </div>
    <!-- grid 2 item Column -->
    <div class="grid-container-col flex-spbt">
        <div class="column">Row-1 Column-1</div>
        <div class="column">Row-1 Column-2</div>
        <div class="column">Row-1 Column-3</div>
    </div>
</body>

</html>