@import url("../basic.css");
.nav-icon,
.site-link {
  color: var(--primary-color);
  font-family: var(--body-font);
  font-weight: var(--regular);
  font-size: var(--sm-size);
}
.desktop-navigation {
  display: flex;
  background-color: var(--secondary-color);
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: var(--sm-size) var(--xxl-size) var(--sm-size) var(--xxl-size);
  width: 100%;
  /* position: fixed;
  z-index: 1; */
}
.position-fixed {
  position: fixed;
  z-index: 1;
}
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.nav-logo {
  margin-right: var(--md-size);
}
.nav-icons > li {
  margin: 0px var(--sm-size);
}
.nav-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#search {
  outline-color: var(--accent-gray);

  font: var(--regular) var(--sm-size) var(--body-font);
  padding: 10px;
}
#search:focus {
  outline-color: var(--accent-blue);
}
