<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Aditi" />
    <meta name="description" content="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="nav-desktop.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>Desktop Navigation Component</title>
</head>

<body>
    <header class="desktop-navigation position-fixed">
        <nav class="logo-wrapper">
            <div class="nav-logo">
                <a href="/"><img src="/images/REDAZZLE.svg" alt="logo" class="logo-img" /></a>
            </div>
            <div><a href="" class="site-link">Website Name</a></div>
        </nav>
        <input type="text" name="search" id="search" placeholder="🔍 Search">
        <ul class="nav-icons">
            <li>
                <a href="/" class="nav-icon">
                    Login
                </a>
            </li>
            <li>
                <a href="" class="nav-icon">
                    Icon1
                </a>
            </li>
            <li>
                <a href="" class="nav-icon">
                    Icon2
                </a>
            </li>
        </ul>

    </header>
</body>

</html>