<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Aditi" />
    <meta name="description" cotent="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="avatar.css">
    <title>Avatar Component</title>
</head>

<body>
    <!-- Avatar with image -->
    <div class="avatar-rounded">
        <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-xs">
        <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-sm">
        <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-md">
        <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-lg">
    </div>

    <!-- Avatar without image -->
    <div class="avatar-txt">
        <div class="avatar-letter avatar avatar-xs avatar-text">AD</div>
        <div class="avatar-letter avatar avatar-sm avatar-text">SS</div>
        <div class="avatar-letter avatar avatar-md avatar-text">AK</div>
        <div class="avatar-letter avatar avatar-lg avatar-text"> SK</div>
    </div>
</body>

</html>