<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="slider.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>Slider Component</title>
</head>
<!-- horizontal slider -->
<input type="range" name="slider" id="slider">
<!-- vertical slider -->
<input type="range" name="slider" id="slider-vertical" class="vertical-slider">

<!-- disabled slider -->
<input type="range" name="slider" id="slider-disabled" disabled>

<body>

</body>

</html>