<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Aditi" />
    <meta name="description" cotent="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="toast.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>Toast Component</title>
</head>

<body>
    <div class="leading-container">
        <div class="leading-toast flex-spbt">
            <div>Can't send photo. Retry in 5 seconds.</div>
            <div class="btn-container flex-spbt">
                <button class="toast-btn toast">RETRY</button>
                <button class="toast toast-close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </div>
</body>

</html>