@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Libre+Franklin:wght@300;400;600;700;900&display=swap");

:root {
  /* colors */
  --primary-color: #fefefe;
  --secondary-color: #525252;
  --cta: #c42625;
  --accent-black: #08060d;
  --accent-gray: #c5c5c5;
  --accent-orange: #ca7622;
  --accent-pink: #c42573;
  --accent-red: #c35150;
  --accent-blue: #1d7abd;
  --accent-purple: #7625c4;
  --accent-green: #10a658;
  --disable: #fceeee;
  --hover: #d62929;
  --accent-light-purple: #fff1ff;
  --accent-light-gray: #ebebeb;
  --accent-light-red: #ffdbda;
  --accent-light-green: #ffffbe;
  --accent-light-orange: #ffffbe;
  --accent-light-blue: #f1ffff;
  --accent-blue-hover: #b2ebf2;
  --accent-purple-hover: #d1c4e9;
  --accent-secondary-hover: #cfd8dc;
  --accent-red-hover: #ffcdd2;
  --accent-green-hover: #dcedc8;
  --accent-orange-hover: #ffe0b2;
  --accent-pink-hover: #f8bbd0;
  --accent-light-cta: #fff1f1;

  /* font sizes */
  --xxxl-size: 64px;
  --xxl-size: 48px;
  --xl-size: 40px;
  --lg-size: 32px;
  --md-size: 24px;
  --sm-size: 16px;
  --xs-size: 8px;
  /* font weight */
  --light: 300;
  --regular: 400;
  --semibold: 600;
  --bold: 700;
  --bolder: 900;

  /* fonts */
  --body-font: "Libre Baskerville", serif;
  --heading-font: "Libre Franklin", sans-serif;
}
/* reset css */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
.padding-xs {
  padding: var(--xs-size);
}
.padding-sm {
  padding: var(--sm-size);
}
