<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Aditi" />
    <meta name="description" content="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="list.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>List Component</title>
</head>

<body>
    <!-- Normal List -->
    <ul class="list">
        <li class="list-item">List Item 1</li>
        <li class="list-item">List Item 2</li>
        <li class="list-item">List Item 3</li>
        <li class="list-item">List Item 4</li>
    </ul>
    <!-- Normal List inline -->

    <ul class="list-inline">
        <li class="list-item-inline">List Item 1</li>
        <li class="list-item-inline">List Item 2</li>
        <li class="list-item-inline">List Item 3</li>
        <li class="list-item-inline">List Item 4</li>
    </ul>
    <!-- Normal List without bullet -->
    <ul class="list-style-none">
        <li class="list-item">List Item 1</li>
        <li class="list-item">List Item 2</li>
        <li class="list-item">List Item 3</li>
        <li class="list-item">List Item 4</li>
    </ul>

    <!--Stacked List -->
    <ul class="stacked-list list-style-none">
        <li class="stacked-list-element">
            <img src="/images/taylorSwift.jpg" alt="dummy pic" class="list-img">
            <div class="stacked-data">
                <span>Orange Hat</span>
                <span>$2000</span>
            </div>
        </li>
        <li class="stacked-list-element">
            <img src="/images/taylorSwift.jpg" alt="dummy pic" class="list-img">
            <div class="stacked-data">
                <span>Orange Hat</span>
                <span>$2000</span>
            </div>
        </li>
        <li class="stacked-list-element">
            <img src="/images/taylorSwift.jpg" alt="dummy pic" class="list-img">
            <div class="stacked-data">
                <span>Orange Hat</span>
                <span>$2000</span>
            </div>
        </li>
        <li class="stacked-list-element">
            <img src="/images/taylorSwift.jpg" alt="dummy pic" class="list-img">
            <div class="stacked-data">
                <span>Orange Hat</span>
                <span>$2000</span>
            </div>
        </li>
    </ul>
</body>

</html>