<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="hamburger.css">
    <link rel="stylesheet" type="text/css" href="/components/navigation-simple/nav-desktop.css">
    <link rel="stylesheet" type="text/css" href="/components/list/list.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>Hamburger Component</title>
</head>

<body>
    <!-- hamburger icon -->
    <header class="desktop-navigation position-fixed">
        <nav class="logo-wrapper">
            <div class="nav-logo">
                <a href="/"><img src="/images/REDAZZLE.svg" alt="logo" class="logo-img" /></a>
            </div>
            <div class="gutter-space flex-center">
                <div> <button class="ham-icon"><i class="fa fa-bars"></i></button></div>
                <div><a href="" class="site-link ">Website Name</a></div>
            </div>
        </nav>
        <input type="text" name="search" id="search" placeholder="🔍 Search">
        <ul class="nav-icons">
            <li>
                <a href="/" class="nav-icon">
                    Login
                </a>
            </li>
            <li>
                <a href="" class="nav-icon">
                    Icon1
                </a>
            </li>
            <li>
                <a href="" class="nav-icon">
                    Icon2
                </a>
            </li>
        </ul>

    </header>
    <!-- drawer -->
    <!-- <aside>
        <ul class="drawer-wrapper list-style-none position-fixed nav-relative">
            <li class="list-item">
                <div>
                    <div class="title">Title</div>
                    <div class="sub-title">subtext</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="fas fa-inbox"></i>
                    </span>
                    <div class="items">Inbox</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="fas fa-star"></i>
                    </span>
                    <div class="items">Star</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <div class="items">Sent Mail</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="far fa-envelope-open"></i>
                    </span>
                    <div class="items">Drafts</div>
                </div>
            </li>
        </ul>
    </aside> -->
    <!-- submenu -->
    <aside>
        <ul class="drawer-wrapper list-style-none position-fixed nav-relative">
            <li class="list-item">
                <div>
                    <div class="title">Title</div>
                    <div class="sub-title">subtext</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="fas fa-inbox"></i>
                    </span>
                    <div class="items">Inbox</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="fas fa-star"></i>
                    </span>
                    <div class="items">Star</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <div class="items">Sent Mail</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <span class="ft-bolder">
                        <i class="far fa-envelope-open"></i>
                    </span>
                    <div class="items">Drafts</div>
                </div>
            </li>
            <li class="list-item">
                <div class="flex-spbt">
                    <div class="items">Drafts</div>
                    <span class="ft-bolder">
                        <i class="far fa-envelope-open"></i>
                    </span>
                </div>
            </li>
        </ul>
    </aside>
</body>

</html>