<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Aditi" />
    <meta name="description" cotent="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="badge.css">
    <title>Badge Component</title>
</head>

<body>
    <div>
        <div class="badge">
            <i class="badge-icon fas fa-shopping-cart"></i>
            <span class="display-flex badge-number badge-display">8</span>
        </div>
        <div class="badge">
            <i class="badge-icon fas fa-shopping-cart"></i>
            <span class="display-flex large-badge-number badge-display">99+</span>
        </div>
        <div class="badge">
            <div class="text">Text with a badge</div>
            <span class="display-flex badge-number">5</span>
        </div>
        <div class="badge">
            <div class="text">Text with a large badge</div>
            <span class="display-flex badge-large badge-display">13</span>
        </div>
        <div class="badge">
            <div class="text">Text with a large badge</div>
            <span class="display-flex badge-label-large badge-display">New</span>
        </div>
        <div class="badge">
            <div><button class="btn">Action</button></div>
            <span class="display-flex badge-number badge-display">7</span>
        </div>
        <div class="avatar-badge">
            <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-lg">
            <span class="online status">
            </span>
        </div>
        <div class="avatar-badge">
            <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-lg">
            <span class="offline status">
            </span>
        </div>
        <div class="avatar-badge">
            <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-lg">
            <span class="busy status">
            </span>
        </div>
        <div class="avatar-badge">
            <img src="/images/taylorSwift.jpg" alt="avatar" class="avatar avatar-lg">
            <span class="idle status">
            </span>
        </div>
    </div>



</body>

</html>