@import url("/components/basic.css");
@import url(/components/avatar/avatar.css);
.badge-icon {
  font-size: var(--lg-size);
  color: var(--cta);
}
.badge {
  position: relative;
  width: fit-content;
}
.badge-number {
  position: absolute;
  width: var(--sm-size);
  height: var(--sm-size);
  border-radius: 50%;
  top: -5px;
  right: -1rem;
  font: var(--bold) var(--sm-size) var(--body-font);
}
.large-badge-number {
  position: absolute;
  width: var(--sm-size);
  height: var(--sm-size);
  border-radius: 20%;
  top: -5px;
  right: -1rem;
  font: var(--bold) var(--xs-size) var(--body-font);
}
.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge-large {
  position: absolute;
  width: var(--md-size);
  height: var(--md-size);
  border-radius: 50%;
  top: -5px;
  right: -1rem;
  font: var(--bold) var(--sm-size) var(--body-font);
}
.text {
  color: var(--accent-pink);
  font: var(--bold) var(--md-size) var(--body-font);
}
.badge-btn {
  background-color: var(--cta);
  border: none;
  border-radius: 5px;
  padding: var(--sm-size);
  color: var(--primary-color);
  cursor: pointer;
  font-family: var(--body-font);
}
.status {
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  display: flex;
  width: var(--xs-size);
  height: var(--xs-size);
  position: absolute;
  bottom: 5px;
  right: 7px;
}
.avatar-badge {
  position: relative;
  width: fit-content;
}
.online {
  background-color: var(--accent-green);
}
.offline {
  background-color: var(--secondary-color);
}
.busy {
  background-color: var(--accent-red);
}
.idle {
  background-color: var(--accent-orange);
}
.badge-label-large {
  position: absolute;
  width: var(--lg-size);
  height: var(--lg-size);
  border-radius: 50%;
  top: -5px;
  right: -1rem;
  font: var(--bold) var(--xs-size) var(--body-font);
}
.badge-display {
  background-color: var(--accent-purple);
  color: var(--primary-color);
}
.badge-icon:hover {
  color: var(--hover);
}
.badge-btn:hover {
  opacity: 70%;
}
