<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Component Library for styling purpose." />
    <link rel="icon" type="image/x-icon" href="/images/favicon-16x16.png" />
    <link rel="stylesheet" type="text/css" href="modal.css">
    <link rel="stylesheet" type="text/css" href="/components/basic.css">
    <title>Modal Component</title>
</head>

<body>
    <div class="modal">
        <div class="modal-content padding-sm flex-spbt">
            <div>Modal Title</div>
            <button class="modal-close"><i class="fas fa-times-square"></i></button>
        </div>
        <div class="modal-body padding-sm">
            <div>Lorem ipsum dolor sit amet.</div>
        </div>
        <div class="modal-footer padding-sm">
            <button class="modal-footer-close padding-xs modal-footer-btn">Close</button>
            <button class="footer-submit padding-xs modal-footer-btn">Subscribe</button>
        </div>
    </div>
</body>

</html>