@import url("../style.css");
@import url("../components/avatar/avatar.css");
@import url("/components/badge/badge.css");
@import url("../components/alert/alert.css");
@import url("../components/button/button.css");
@import url("../components/card/card.css");
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  align-items: center;
  border-right: 1px solid var(--accent2);
  border-bottom: 1px solid var(--accent2);
  position: fixed;
  top: 60px;
  height: 90vh;
  padding-top: var(--xs-size);
}
.sidebar-title {
  text-align: left;
  color: var(--accent1);
  margin-left: var(--sm-size);
  margin-right: var(--lg-size);
}
.item-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.items {
  padding: var(--sm-size);
}
.item-link {
  color: var(--cta);
  font-size: var(--sm-size);
  font-family: var(--body-font);
  font-weight: var(--light);
}
.items:hover,
.items:hover > .item-link {
  background-color: var(--hover);
  color: var(--primary-color);
}
.main-container {
  display: flex;
  height: 100%;
  padding: var(--md-size);
}
.docs-container {
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--md-size);
  height: 100%;
}

.desc {
  font-family: var(--body-font);
  font-size: var(--sm-size);
  color: var(--accent1);
  font-weight: var(--regular);
  width: 100%;
}
.docs {
  display: flex;
  flex-direction: column;
  gap: var(--md-size);
  width: 100%;
}
.avatar-example,
.badge-icon-example,
.badge-avatar-example,
.badge-button-example,
.badge-label-example,
.button-example,
.example {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent2);
  padding: var(--sm-size);
  gap: var(--md-size);
}
.docs:target {
  scroll-margin-top: 72px;
}
.alert-example {
  gap: var(--xs-size);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent2);
  padding: var(--sm-size);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.card-example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent2);
  padding: var(--sm-size);
  gap: var(--md-size);
}
