@import url("../style.css");

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  align-items: center;
  border-right: 1px solid var(--accent2);
  border-bottom: 1px solid var(--accent2);
  width: fit-content;
  height: 90vh;
}
.sidebar-title {
  text-align: left;
  color: var(--accent1);
  margin-left: var(--sm-size);
  margin-right: var(--lg-size);
}
.item-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: left;
}
.items {
  padding: var(--sm-size);
}
.item-link {
  color: var(--cta);
  font-size: var(--md-size);
}

.items:hover,
.items:hover > .item-link {
  background-color: var(--hover);
  color: var(--primary-color);
}
